* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .no-display {
    display: none;
}

.analyze {
    margin-top: 5em;
}

.upload-label {
    padding: 10px;
    font-size: 12px;
}

.result-label {
    position: absolute;
    top: 13px;
    left: 100px;
    font-size: 13px;
    color: black;
    padding: 5px;
    border-radius: 40px;
}


button:focus {
    outline: 0;
}













  .wraper{
    position: fixed;
    height: 100%;
    width: 100%;
    overflow: auto;
    
    
  }

  div.relative {
    position: relative;
    width: 100%;
    height: 100%;
  } 

  div.absoluteH1 {
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    height: 42px;
    background-color: #ffffff;
    
  }

  div.absoluteH2 {
    position: absolute;
    top: 42px;
    left: 0px;
    width: 100%;
    height: 36px;
    border-top: 1px solid #d8d8d8;
    background: linear-gradient(to bottom, #fafafa, #d7d7d7);
    
  }

  div.absoluteB1 {
    position: absolute;
    top: 78px;
    left: 0;
    width: 42px;
    height: calc(100% - 78px);
    border-right: 1px solid #d8d8d8;
    background-color: rgb(245, 245, 245);
    
  }

  div.B11 {
    position: absolute;
    top: 0px;
    left: 0;
    width: 42px;
    height: 310px;
    
  }

  .B11icon-bar {
    width: 42px;
    
    
  }

  .B11icon-bar a {
    display: block;
    text-align: center;
    padding-top: 16px;
    padding-bottom: 16px;
    transition: all 0.3s ease;
    color: #5c5c5c;
    font-size: 23px;
  }

  .B11icon-bar a:hover {
    color: white !important;
    background-color: #d7d7d7;
  }

  .B11active {
    background-color: #1cb7ff;
    color: white !important;
    
  }


  .tooltip-B11icon-barT1 {
    position: relative;
  }

  .tooltip-B11icon-barT1 .tooltiptext-B11icon-barT1 {
    visibility: hidden;
    width: 80px;
    background-color: rgba(26, 26, 26, 0.89);
    color: #fff;
    text-align: center;
    border-radius: 3px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 20px;
    left: 120%;
    
    font-size: 11px;
  }
  
  .tooltip-B11icon-barT1 .tooltiptext-B11icon-barT1::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent rgba(26, 26, 26, 0.89) transparent transparent;
  }
  .tooltip-B11icon-barT1:hover .tooltiptext-B11icon-barT1 {
    visibility: visible;
  }







  .tooltip-B11icon-barT2 {
    position: relative;
  }

  .tooltip-B11icon-barT2 .tooltiptext-B11icon-barT2 {
    visibility: hidden;
    width: 60px;
    background-color: rgba(26, 26, 26, 0.89);
    color: #fff;
    text-align: center;
    border-radius: 3px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 20px;
    left: 120%;
    font-size: 11px;
  }
  
  .tooltip-B11icon-barT2 .tooltiptext-B11icon-barT2::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent rgba(26, 26, 26, 0.89) transparent transparent;
  }
  .tooltip-B11icon-barT2:hover .tooltiptext-B11icon-barT2 {
    visibility: visible;
  }





  .tooltip-B11icon-barT3 {
    position: relative;
  }

  .tooltip-B11icon-barT3 .tooltiptext-B11icon-barT3 {
    visibility: hidden;
    width: 45px;
    background-color: rgba(26, 26, 26, 0.89);
    color: #fff;
    text-align: center;
    border-radius: 3px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 20px;
    left: 120%;
    font-size: 11px;
  }
  
  .tooltip-B11icon-barT3 .tooltiptext-B11icon-barT3::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent rgba(26, 26, 26, 0.89) transparent transparent;
  }
  .tooltip-B11icon-barT3:hover .tooltiptext-B11icon-barT3 {
    visibility: visible;
  }



  .tooltip-B11icon-barT4 {
    position: relative;
  }

  .tooltip-B11icon-barT4 .tooltiptext-B11icon-barT4 {
    visibility: hidden;
    width: 50px;
    background-color: rgba(26, 26, 26, 0.89);
    color: #fff;
    text-align: center;
    border-radius: 3px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 20px;
    left: 120%;
    font-size: 11px;
  }
  
  .tooltip-B11icon-barT4 .tooltiptext-B11icon-barT4::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent rgba(26, 26, 26, 0.89) transparent transparent;
  }
  .tooltip-B11icon-barT4:hover .tooltiptext-B11icon-barT4 {
    visibility: visible;
  }




  .tooltip-B11icon-barT5 {
    position: relative;
  }

  .tooltip-B11icon-barT5 .tooltiptext-B11icon-barT5 {
    visibility: hidden;
    width: 45px;
    background-color: rgba(26, 26, 26, 0.89);
    color: #fff;
    text-align: center;
    border-radius: 3px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 20px;
    left: 120%;
    font-size: 11px;
  }
  
  .tooltip-B11icon-barT5 .tooltiptext-B11icon-barT5::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent rgba(26, 26, 26, 0.89) transparent transparent;
  }
  .tooltip-B11icon-barT5:hover .tooltiptext-B11icon-barT5 {
    visibility: visible;
  }




  div.B12 {
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 42px;
    height: 117px;
    border-top: 1px solid #d8d8d8;
  }

  .B12icon-bar {
    width: 42px;
    
    
  }

  .B12icon-bar a {
    display: block;
    text-align: center;
    padding-top: 6px;
    padding-bottom: 6px;
    transition: all 0.3s ease;
    color: #5c5c5c;
    font-size: 18px;
  }

  .B12icon-bar a:hover {
    color: white;
    background-color: #d7d7d7;
  }

  .tooltip-B12icon-barT1 {
    position: relative;
  }

  .tooltip-B12icon-barT1 .tooltiptext-B12icon-barT1 {
    visibility: hidden;
    width: 40px;
    background-color: rgba(26, 26, 26, 0.89);
    color: #fff;
    text-align: center;
    border-radius: 3px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 7px;
    left: 120%;
    font-size: 11px;
  }
  
  .tooltip-B12icon-barT1 .tooltiptext-B12icon-barT1::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent rgba(26, 26, 26, 0.89) transparent transparent;
  }
  .tooltip-B12icon-barT1:hover .tooltiptext-B12icon-barT1 {
    visibility: visible;
  }





  .tooltip-B12icon-barT2 {
    position: relative;
  }

  .tooltip-B12icon-barT2 .tooltiptext-B12icon-barT2 {
    visibility: hidden;
    width: 35px;
    background-color: rgba(26, 26, 26, 0.89);
    color: #fff;
    text-align: center;
    border-radius: 3px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 7px;
    left: 120%;
    font-size: 11px;
  }
  
  .tooltip-B12icon-barT2 .tooltiptext-B12icon-barT2::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent rgba(26, 26, 26, 0.89) transparent transparent;
  }
  .tooltip-B12icon-barT2:hover .tooltiptext-B12icon-barT2 {
    visibility: visible;
  }



  .tooltip-B12icon-barT3 {
    position: relative;
  }

  .tooltip-B12icon-barT3 .tooltiptext-B12icon-barT3 {
    visibility: hidden;
    width: 60px;
    background-color: rgba(26, 26, 26, 0.89);
    color: #fff;
    text-align: center;
    border-radius: 3px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 7px;
    left: 120%;
    font-size: 11px;
  }
  
  .tooltip-B12icon-barT3 .tooltiptext-B12icon-barT3::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent rgba(26, 26, 26, 0.89) transparent transparent;
  }
  .tooltip-B12icon-barT3:hover .tooltiptext-B12icon-barT3 {
    visibility: visible;
  }







  div.absoluteB2 {
    position: absolute;
    top: 78px;
    left: 42px;
    width: 180px;
    height: calc(100% - 78px);
    border-right: 1px solid #d8d8d8;
    
  }


  div.B21 {
    position: absolute;
    top: 0px;
    width: 180px;
    height: 140px;
    
  }

  div.B21label {
    position: absolute;
    top: 10px;
    left: 21px;
    width: 137px;
    height: 20px;
    border: 1px solid #d8d8d8;
    border-radius: 4px;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    font-size: 10px;
    padding-top: 3px;
    text-transform: uppercase;
  }

  
  div.B21text {
    position: absolute;
    top: 40px;
    left: 5px;
    width: 100px;
    height: 20px;
    font-family: 'Nunito', sans-serif;
    font-size: 12px;
    padding-top: 3px;
    padding-left: 3px;
    color: #5c5c5c;
    font-weight:900;
  }
  
  div.B21title {
    position: absolute;
    top: 60px;
    left: 5px;
    width: 170px;
    height: 20px;
    border-bottom: 2px solid #bebebe;
    background-color: rgb(245, 245, 245);
    font-family: 'Nunito', sans-serif;
    font-size: 12px;
    padding-top: 3px;
    padding-left: 3px;
    color:#5c5c5c;
  }

  div.B21text2 {
    position: absolute;
    top: 90px;
    left: 5px;
    width: 100px;
    height: 20px;
    font-family: 'Nunito', sans-serif;
    font-size: 12px;
    padding-top: 3px;
    padding-left: 3px;
    color:#5c5c5c;
    font-weight:900;
  }
  
  div.B21title2 {
    position: absolute;
    top: 110px;
    left: 5px;
    width: 170px;
    height: 20px;
    border-bottom: 2px solid #bebebe;
    background-color: rgb(245, 245, 245);
    font-family: 'Nunito', sans-serif;
    font-size: 12px;
    padding-top: 3px;
    padding-left: 3px;
    color:#5c5c5c;
  }

 





  div.B22 {
    position: absolute;
    top: 140px;
    width: 180px;
    height: calc(100% - 140px);
    overflow: scroll;
  }

  div.B22box1 {
    position: absolute;
    top: 5px;
    left: 8px;
    width: 156px;
    height: 43px;
    border-radius: 4px;
    box-shadow: 4px 5px #d9d9d9;
    background: linear-gradient(135deg, rgb(255, 255, 255), rgb(229, 229, 229));
    text-align: center;
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    padding-top: 15px;
  }

  div.B22logo{
    position: absolute;
    top: 0px;
    right: 0px;
    width: 45px;
    height: 20px;
    font-family: 'Nunito', sans-serif;
    font-size: 10px;
  }

  div.B22box2 {
    position: absolute;
    top: 58px;
    left: 8px;
    width: 156px;
    height: 43px;
    border-radius: 4px;
    box-shadow: 4px 5px #d9d9d9;
    background: linear-gradient(135deg, rgb(77, 48, 170), rgb(9, 4, 122));
    text-align: center;
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    padding-top: 15px;
    color: white;
  }

  div.B22box3 {
    position: absolute;
    top: 111px;
    left: 8px;
    width: 156px;
    height: 43px;
    border-radius: 4px;
    box-shadow: 4px 5px #d9d9d9;
    background: linear-gradient(135deg, rgb(77, 48, 170), rgb(9, 4, 122));
    text-align: center;
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    padding-top: 15px;
    color: white;
  }

  div.B22box4 {
    position: absolute;
    top: 164px;
    left: 8px;
    width: 156px;
    height: 43px;
    border-radius: 4px;
    box-shadow: 4px 5px #d9d9d9;
    background: linear-gradient(135deg, rgb(56, 55, 150), rgb(0, 17, 103));
    text-align: center;
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    padding-top: 15px;
    color: white;
  }

  div.B22box5 {
    position: absolute;
    top: 217px;
    left: 8px;
    width: 156px;
    height: 43px;
    border-radius: 4px;
    box-shadow: 4px 5px #d9d9d9;
    background: linear-gradient(135deg, rgb(56, 55, 150), rgb(0, 17, 103));
    text-align: center;
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    padding-top: 15px;
    color: white;
  }

  div.B22box6 {
    position: absolute;
    top: 270px;
    left: 8px;
    width: 156px;
    height: 43px;
    border-radius: 4px;
    box-shadow: 4px 5px #d9d9d9;
    background: linear-gradient(135deg, rgb(55, 92, 186), rgb(0, 51, 137));
    text-align: center;
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    padding-top: 15px;
    color: white;
  }

  div.B22box7 {
    position: absolute;
    top: 323px;
    left: 8px;
    width: 156px;
    height: 43px;
    border-radius: 4px;
    box-shadow: 4px 5px #d9d9d9;
    background: linear-gradient(135deg,rgb(49, 109, 179), rgb(0, 66, 131));
    text-align: center;
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    padding-top: 15px;
    color: white;
  }

  div.B22box8 {
    position: absolute;
    top: 376px;
    left: 8px;
    width: 156px;
    height: 43px;
    border-radius: 4px;
    box-shadow: 4px 5px #d9d9d9;
    background: linear-gradient(135deg, rgb(32, 99, 85), rgb(0, 56, 44));
    text-align: center;
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    padding-top: 15px;
    color: white;
  }

  div.B22box9 {
    position: absolute;
    top: 429px;
    left: 8px;
    width: 156px;
    height: 43px;
    border-radius: 4px;
    box-shadow: 4px 5px #d9d9d9;
    background: linear-gradient(135deg, rgb(32, 99, 85), rgb(0, 56, 44));
    text-align: center;
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    padding-top: 15px;
    color: white;
  }

  div.B22box10 {
    position: absolute;
    top: 482px;
    left: 8px;
    width: 156px;
    height: 43px;
    border-radius: 4px;
    box-shadow: 4px 5px #d9d9d9;
    background: linear-gradient(135deg,rgb(32, 99, 85), rgb(0, 56, 44));
    text-align: center;
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    padding-top: 15px;
    color: white;
  }

  div.B22box11 {
    position: absolute;
    top: 535px;
    left: 8px;
    width: 156px;
    height: 43px;
    border-radius: 4px;
    box-shadow: 4px 5px #d9d9d9;
    background: linear-gradient(135deg,rgb(39, 118, 122), rgb(0, 74, 78));
    text-align: center;
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    padding-top: 15px;
    color: white;
  }



  div.B22box12 {
    position: absolute;
    top: 588px;
    left: 8px;
    width: 156px;
    height: 43px;
    border-radius: 4px;
    box-shadow: 4px 5px #d9d9d9;
    background: linear-gradient(135deg,rgb(39, 118, 122), rgb(0, 74, 78));
    text-align: center;
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    padding-top: 15px;
    color: white;
  }

  div.B22box13 {
    position: absolute;
    top: 641px;
    left: 8px;
    width: 156px;
    height: 43px;
    border-radius: 4px;
    box-shadow: 4px 5px #d9d9d9;
    background: linear-gradient(135deg,rgb(153, 224, 156), rgb(105, 174, 109));
    text-align: center;
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    padding-top: 15px;
    color: white;
  }

  div.B22box14 {
    position: absolute;
    top: 694px;
    left: 8px;
    width: 156px;
    height: 43px;
    border-radius: 4px;
    box-shadow: 4px 5px #d9d9d9;
    background: linear-gradient(135deg, rgb(153, 224, 156), rgb(105, 174, 109));
    text-align: center;
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    padding-top: 15px;
    color: white;
  }

  div.B22box15 {
    position: absolute;
    top: 747px;
    left: 8px;
    width: 156px;
    height: 43px;
    border-radius: 4px;
    box-shadow: 4px 5px #d9d9d9;
    background: linear-gradient(135deg, rgb(199, 239, 153), rgb(149, 188, 106));
    text-align: center;
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    padding-top: 15px;
    color: white;
  }


  div.absoluteB3 {
    position: absolute;
    top: 78px;
    left: 222px;
    width: 84px;
    height: calc(100% - 78px);
    
  }

  div.B31 {
    position: absolute;
    top: 0px;
    width: 84px;
    height: 300px;
    
    text-align: center;
    font-family: 'Nunito', sans-serif;
    font-size: 12px;
  }

  div.B31title{
    position: absolute;
    top: 5px;
    left: 11px;
    width: 60px;
    height: 20px;
    border-bottom: 1px solid #393939;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    font-size: 13px;
    color:#5c5c5c;
    font-weight:900;
  }

  div.B31icon-box{
    position: absolute;
    left: 15px;
    top: 30px;
    width: 52px;
    height: 250px;
    
  }

 

  .B31icon-box a {
    border: 2px solid #1cb7ff;
    border-radius: 7px;
    margin-top: 15px;
    display: block;
    text-align: center;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 6px;
    padding-right: 6px;
    transition: all 0.3s ease;
    color:  #1cb7ff;
    font-size: 20px;
  }

  .B31icon-box a:hover {
    color: white;
    background-color:  #1cb7ff;
  }



  div.B32 {
    position: absolute;
    bottom: 3px;
    width: 84px;
    height: 21px;
    
    
  }

  div.B32icon-bar {
    width: 84px;
    
  }

  div.B32icon-bar a{
    float: left;
    margin-left: 1px;
    text-align: center;
    padding-left: 2px;
    padding-right: 2px;
    transition: all 0.3s ease;
    color: #5c5c5c;
    font-size: 14px;
  }

  div.B32icon-bar a:hover{
    background-color: #d7d7d7;
  }

  .tooltip-B32icon-barT1 {
    position: relative;
  }

  .tooltip-B32icon-barT1 .tooltiptext-B32icon-barT1 {
    
    background-color: rgba(26, 26, 26, 0.89);
    visibility: hidden;
    width: 160px;
    color: #fff;
    text-align: center;
    border-radius: 3px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -112px;
    bottom: 10px;
    font-size: 11px;
  }
  
  .tooltip-B32icon-barT1 .tooltiptext-B32icon-barT1::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color:  rgba(26, 26, 26, 0.89) transparent transparent transparent;
  }
  .tooltip-B32icon-barT1:hover .tooltiptext-B32icon-barT1 {
    visibility: visible;
  }





  .tooltip-B32icon-barT2 {
    position: relative;
  }

  .tooltip-B32icon-barT2 .tooltiptext-B32icon-barT2 {
    
    background-color: rgba(26, 26, 26, 0.89);
    visibility: hidden;
    width: 170px;
    color: #fff;
    text-align: center;
    border-radius: 3px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -96px;
    bottom: 10px;
    font-size: 11px;
  }
  
  .tooltip-B32icon-barT2 .tooltiptext-B32icon-barT2::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color:  rgba(26, 26, 26, 0.89) transparent transparent transparent;
  }
  .tooltip-B32icon-barT2:hover .tooltiptext-B32icon-barT2 {
    visibility: visible;
  }




  .tooltip-B32icon-barT3 {
    position: relative;
  }

  .tooltip-B32icon-barT3 .tooltiptext-B32icon-barT3 {
    
    background-color: rgba(26, 26, 26, 0.89);
    visibility: hidden;
    width: 40px;
    color: #fff;
    text-align: center;
    border-radius: 3px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -12px;
    bottom: 10px;
    font-size: 11px;
  }
  
  .tooltip-B32icon-barT3 .tooltiptext-B32icon-barT3::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color:  rgba(26, 26, 26, 0.89) transparent transparent transparent;
  }
  .tooltip-B32icon-barT3:hover .tooltiptext-B32icon-barT3 {
    visibility: visible;
  }




  .tooltip-B32icon-barT4 {
    position: relative;
  }

  .tooltip-B32icon-barT4 .tooltiptext-B32icon-barT4 {
    
    background-color: rgba(26, 26, 26, 0.89);
    visibility: hidden;
    width: 110px;
    color: #fff;
    text-align: center;
    border-radius: 3px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -27px;
    bottom: 10px;
    font-size: 11px;
  }
  
  .tooltip-B32icon-barT4 .tooltiptext-B32icon-barT4::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color:  rgba(26, 26, 26, 0.89) transparent transparent transparent;
  }
  .tooltip-B32icon-barT4:hover .tooltiptext-B32icon-barT4 {
    visibility: visible;
  }



  div.absoluteB4 {
    position: absolute;
    top: 78px;
    left: 306px;
    width: calc(100% - 342px);
    height: calc(100% - 78px);
    background-color: black;
    min-width: 900px;
    min-height: 500px;
  }

  div.B4canvas{
    position: absolute;
    left: 140px;
    width: calc(100% - 280px);
    min-width: 600px;
    height: 100%;
    
    overflow: scroll;
  }



  img#image-picked {
    width: 100%;
    height: 100%;
    
  }

  div.B4left-top{
    position: absolute;
    top: 5px;
    left: 5px;
    width: 160px;
    height: 150px;
    color: white;
    font-family: 'Nunito', sans-serif;
    font-size: 10px;
    text-transform: uppercase;
    z-index: 1000;
  }

  div.B4left-top2{
    padding-top: 5px;
  }

  div.B4left-top3{
    padding-top: 5px;
  }

  div.B4left-top4{
    padding-top: 5px;
  }

  div.B4right-top{
    position: absolute;
    top: 5px;
    right: 5px;
    width: 120px;
    height: 140px;
    color: white;
    text-align: right;
    font-family: 'Nunito', sans-serif;
    font-size: 10px;
    text-transform: uppercase;
  }

  div.B4right-top2{
    padding-top: 5px;
  }

  div.B4right-top3{
    padding-top: 5px;
  }

  div.B4right-top4{
    padding-top: 5px;
  }

  div.B4left-bottom{
    position: absolute;
    bottom: 65px;
    left: 5px;
    width: 260px;
    height: 60px;
    color: white;
    font-family: 'Nunito', sans-serif;
    font-size: 9px;
    
    z-index: 1000;
  }

  div.B4left-bottom1{
    padding-bottom: 5px;
  }

  div.B4left-bottom2{
    padding-bottom: 5px;
  }

  div.B4right-bottom{
    position: absolute;
    bottom: 65px;
    right: 5px;
    width: 360px;
    height: 60px;
    color: white;
    font-family: 'Nunito', sans-serif;
    font-size: 9px;
    text-align: right;
    z-index: 1000;
  }

  div.B4right-bottom1{
    padding-bottom: 5px;
  }

  div.B4right-bottom2{
    padding-bottom: 5px;
  }




  div.B4bottom{
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 60px;
    
    background: linear-gradient(to right, rgb(0, 0, 0), rgb(78, 78, 78,0.5), rgb(0, 0, 0));
  }

  div.B4annotation{
    position: absolute;
    top: 22px;
    left: 10px;
    font-family: 'Nunito', sans-serif;
    font-size: 13px;
    color:#d9d9d9;
    
  }


  div.absoluteB5 {
    position: absolute;
    top: 78px;
    right: 0px;
    width: 36px;
    height: calc(100% - 78px);
    background-color: #333333;
  }

  div.B5icon-bar{
    position: absolute;
    top: 0px;
    width: 36px;
    height: 300px;
    
  }

  div.B5icon-bar a {
    display: block;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: all 0.3s ease;
    color: #5c5c5c;
    font-size: 13px;
  }

  .B5icon-bar a:hover {
    color: #777;
  }


div.H11{
  position: absolute;
  left: 0px;
  width: 50px;
  height: 42px;
  
  font-family: 'Fira Sans', sans-serif;
  font-size: 10px;
  font-weight: 300;
  color: #bebebe;
  text-transform: uppercase;
  padding-top: 8px;
  padding-left: 13px;
  
  
}


div.H12{
  position: absolute;
  left: 50px;
  width: 90px;
  height: 42px;
  
  
  
}


div.H13{
  position: absolute;
  left: 140px;
  min-width: 800px;
  width: calc(100% - 256px);
  height: 42px;
  
  
  

  
}

div.H14{
  position: absolute;
  right: 16px;
  width: 80px;
  height: 42px;
  
  
}

div.H13title{
  margin-top: 6px;
  font-weight: 400;
  text-align: center;
  font-size: 18px;
  font-family: 'Nunito', sans-serif;
  color: #393939;
}

div.H12logo{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #1cb7ff;
  font-family: 'Nunito', sans-serif;
  font-size: 20px;
  font-weight: 800;


}

div.H14profil{
  position: absolute;
  
  height: 42px;
  width: 40px;
  padding-top: 5px;
  padding-left: 15px;
}

.H14:hover{
  opacity:0.5;
}

div.H14arrow{
  position: absolute;
  padding-top: 11px;
  left: 40px;
  
  height: 42px;
  width: 40px;
  text-align: center;
  
}


div.H21{
  position: absolute;
  left: 0px;
  width: 42px;
  height: 36px;
  border-right: 1px solid #d8d8d8;
  text-align: center;
}

div.H21:hover{
  background-color: #d7d7d7;
}

div.H21icon{
 margin-top: 5px;
}

div.H22{
  position: absolute;
  left: 42px;
  width: 180px;
  height: 36px;
  border-right: 1px solid #d8d8d8;
  text-align: center;
}

div.H22:hover{
  background-color: #d7d7d7;
}

div.H22label{
  margin-top: 9px;
  font-weight: 500;
  text-align: center;
  font-size: 12px;
  font-family: 'Nunito', sans-serif;
  color: #393939;
}

div.H23{
  position: absolute;
  left: 222px;
  width: 84px;
  height: 36px;
  border-right: 1px solid #d8d8d8;
 
}

div.H23:hover{
  background-color: #d7d7d7;
}

div.H23logo{
  margin-top: 9px;
  font-weight: 500;
  text-align: center;
  font-size: 12px;
  font-family: 'Nunito', sans-serif;
  color: #393939;
}

div.H24{
  position: absolute;
  left: 306px;
  width: calc(100% - 342px);
  height: 36px;
  border-right: 1px solid #d8d8d8;
  
}

div.H24icon-bar{
  position: absolute;
  width: 542px;
  text-align: center;
  left: calc(50% - 271px);
  height: 36px;
}

.H24icon-bar a {
float: left;
width: 36px;
text-align: center;
padding: 4px 0;
transition: all 0.3s ease;
color: #5c5c5c;
font-size: 19px;
}

.H24icon-bar a:hover {
background-color: #d7d7d7;
}


.tooltip-H24icon-barT1 {
  position: relative;
}

.tooltip-H24icon-barT1 .tooltiptext-H24icon-barT1 {
  
  background-color: rgba(26, 26, 26, 0.89);
  visibility: hidden;
  width: 60px;
  color: #fff;
  text-align: center;
  border-radius: 3px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -68px;
  bottom: 10px;
  font-size: 11px;
}

.tooltip-H24icon-barT1 .tooltiptext-H24icon-barT1::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color:  rgba(26, 26, 26, 0.89) transparent transparent transparent;
}
.tooltip-H24icon-barT1:hover .tooltiptext-H24icon-barT1 {
  visibility: visible;
}




.tooltip-H24icon-barT2 {
  position: relative;
}

.tooltip-H24icon-barT2 .tooltiptext-H24icon-barT2 {
  
  background-color: rgba(26, 26, 26, 0.89);
  visibility: hidden;
  width: 90px;
  color: #fff;
  text-align: center;
  border-radius: 3px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -47px;
  bottom: 10px;
  font-size: 11px;
}

.tooltip-H24icon-barT2 .tooltiptext-H24icon-barT2::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color:  rgba(26, 26, 26, 0.89) transparent transparent transparent;
}
.tooltip-H24icon-barT2:hover .tooltiptext-H24icon-barT2 {
  visibility: visible;
}



.tooltip-H24icon-barT3 {
  position: relative;
}

.tooltip-H24icon-barT3 .tooltiptext-H24icon-barT3 {
  
  background-color: rgba(26, 26, 26, 0.89);
  visibility: hidden;
  width: 80px;
  color: #fff;
  text-align: center;
  border-radius: 3px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -5px;
  bottom: 10px;
  font-size: 11px;
}

.tooltip-H24icon-barT3 .tooltiptext-H24icon-barT3::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color:  rgba(26, 26, 26, 0.89) transparent transparent transparent;
}
.tooltip-H24icon-barT3:hover .tooltiptext-H24icon-barT3 {
  visibility: visible;
}


div.H25{
  position: absolute;
  right: 0px;
  width: 36px;
  height: 36px;
}

div.H25:hover{
  background-color: #d7d7d7;
}

div.H25logo{
  margin-top: 10px;
  font-weight: 500;
  text-align: center;
  font-size: 12px;
  font-family: 'Nunito', sans-serif;
  color: #393939;
}